html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
figure,
h1,
h2,
p {
  margin: 0;
}

video {
  display: block;
  max-inline-size: 100%;
  max-block-size: 100%;
}

body {
  min-block-size: 100vh;
  min-block-size: 100dvh;
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #0d1630;
}

.main {
  margin-top: 5rem;
  inline-size: clamp(19rem, 95vw, 24rem);
  background-color: hsl(40 91% 91%);
  border-radius: .5em;
  box-shadow: 0 0 1em .5em hsl(0 0% 100% / .05);
  overflow: hidden;
}

@media screen and (orientation:landscape) {
  .main {
    margin-top: 3em;
  }
}

.headcount {
  padding: 1.5em 1.5em 2.5em;
  display: grid;
  justify-items: center;
}

.title {
  font-size: 2rem;
}

.count-el {
  font-size: 2.5rem;
  font-weight: 700;
}

.btns {
  margin-top: 1em;
  display: grid;
  gap: .5em;
}

.btn {
  inline-size: 13rem;
  padding-block: .5em;
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: hsl(0 0% 96%);
  letter-spacing: 1px;
  border-radius: .25em;
  border: 1px solid transparent;
  border-bottom: .2em solid hsl(0 0% 0%);
  box-shadow: 0 .25em .25em hsl(0 0% 0% /.15);
  text-shadow: 0 0 .01em hsl(0 0% 0%);
  transition: border-bottom .1s ease;
}

.increment-btn {
  background-color: hsl(356 83% 41%);
}

.save-btn {
  background-color: hsl(201 100% 14%);
}

.reset-btn {
  background-color: hsl(37 98% 53%);
}

.save-el {
  margin-top: 1em;
  max-inline-size: 75%;
  font-size: 1.05rem;
  font-weight: 700;
  text-align: center;
}

.footer {
  padding: 1.5em 0 2.5em;
  font-size: .95rem;
  color: hsl(0 0% 96%);
}

.attr {
  font-size: inherit;
}

.attr-lnk {
  margin-inline-start: .5em;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: .2px;
  color: hsl(203 39% 57%);
  color: hsl(37 98% 53%);
  position: relative;
}

.attr-lnk::after {
  content: "";
  inline-size: 0;
  block-size: .15em;
  position: absolute;
  right: 0;
  bottom: -.2em;
  background-color: currentColor;
  transition: inline-size .3s ease;
}

.btn:active {
  border-bottom: .2em solid transparent;
  cursor: grab;
}

@media (hover:hover) {
  .attr-lnk:hover::after {
    inline-size: 100%;
    left: 0;
  }
}